@extends("applications/sharedHTML/base.html")
@require(title, description, salir, classification, country, state, city, autor, colaborators, project_date)


@def scripts():
    @include('applications/home/views/article_template.html')

    @from "framework/templates/helpers.html" import path
    @from "framework/templates/helpers.html" import set_script
    <!-- Tird party libraries -->
    <script src='@path("applications/sharedJS/jquery-min.js")'></script>
    <script src='@path("applications/sharedJS/underscore-min.js")'></script>
    <script src='@path("applications/sharedJS/backbone-min.js")'></script>
    <script>
            _.templateSettings = {interpolate : /\{\{(.+?)\}\}/g};
            Backbone.emulateHTTP = true;
            Backbone.emulateJSON = true;
    </script>

    <!-- Own libraries -->
    @set_script("applications/helpers/helpers2.js")
    @set_script("applications/helpers/jquery-sizeloaded.js")
    @set_script("applications/home/controllers/article_collection_view.js")
    @set_script("applications/home/controllers/article.js")

    <div id="hidden_container"></div>
@end


@def content():
    <article class="image_item">
        <h2>@str(title)</h2>
        <p>@str(description)</p>

        <dl>
            <h2>Datos del proyecto</h2>
            <dt>Clasificación: </dt>
            <dd>@str(classification)</dd>
            
            <dt>País: </dt>
            <dd>@str(country)</dd>
            
            <dt>Estado/Provincia: </dt>
            <dd>@str(state)</dd>
            
            <dt>Ciudad: </dt>
            <dd>@str(city)</dd>
            
            <dt>Autor: </dt>
            <dd>@str(autor)</dd>
            
            <dt>Colaboradores: </dt>
            <dd>@str(colaborators)</dd>

            <dt>Año del proyecto: </dt>
            <dd>@str(project_date)</dd>
        </dl>
    </article>
@end


@def image_zoom_box():
    @include('applications/sharedHTML/imagezoom.html')
@end
