@from "framework/templates/helpers.html" import path

<script type="text/template" id='image_file_template'>
    <div class="article_item_container home_container">
        <h2>{{title}}</h2>

        <figure>
            <img src='http://src{{shard}}.sencha.io/jpg{{quality}}/{{width}}/{{cover_image}}' id="image_{{cid}}">
            <figcaption>
                <p class="cover_image_description">
                    <span>{{description}}</span>
                </p>
                    <div><a href='@path("proyectos/{{url}}")'>ver más</a></div>
            </figcaption>
        </figure>
    </div>
</script>

<script type="text/template" id='image_link_template'>
    <div class="article_item_container home_container">
        <h2>{{title}}</h2>

        <figure>
            <img src='http://src{{shard}}.sencha.io/jpg{{quality}}/{{width}}/{{cover_image}}'>
            <figcaption>
                <p class="cover_image_description">
                    <span>{{description}}</span>
                </p>
                    <div><a href='@path("proyectos/{{url}}")'>ver más</a></div>
            </figcaption>
        </figure>
    </div>
</script>

<script type="text/template" id='video_link_template'>
    <div class="article_item_container home_container">
        <h2>{{title}}</h2>

        <figure>
            <iframe width="{{width}}" height="{{height}}" src="//www.youtube.com/embed/{{vid}}" frameborder="0" allowfullscreen></iframe>
            <figcaption>
                <p class="cover_image_description">
                    <span>{{description}}</span>
                </p>
                    <div><a href='@path("proyectos/{{url}}")'>ver más</a></div>
            </figcaption>
        </figure>
    </div>
</script>