@extends("applications/sharedHTML/base.html")
@require(title, data, salir)

@def content():
    @from "framework/templates/helpers.html" import path
    @from "framework/templates/helpers.html" import set_responsive_image
    @for item in data:
        <article id="list-of-articles">
            <h2>@str(item.get('title'))</h2>
            <figure>
                @set_responsive_image(str(item.get('cover_image')), 'imageSample', '')
                <figcaption>
                    <p class="cover-image-description">
                        <span>@str(item.get('cover_description'))</span>
                    </p>
                    <div><a href=@path('proyectos/' + str(item.get('url')))>más info</a></div>
                </figcaption>
            </figure>
            <br>
        </article>
    @end
@end