@from 'framework/templates/helpers.html' import path

<!doctype html>
<html lang="es">
<head>
    <title>Jasmine Spec Runner</title>


    <script src=@path("applications/sharedJS/jquery-min.js")></script>
    <script src=@path("applications/sharedJS/underscore-min.js")></script>
    <script src=@path("applications/sharedJS/backbone-min.js")></script>
    <script src=@path("applications/sharedJS/backbone-super-min.js")></script>
    <script>
            _.templateSettings = {interpolate : /\{\{(.+?)\}\}/g};
            Backbone.emulateHTTP = true;
            Backbone.emulateJSON = true;
    </script>
    <script src=@path("applications/sharedJS/backbone.localStorage-min.js")></script>


    <link rel="shortcut icon" type="image/png" href=@path("applications/specs/lib/jasmine-2.0.0/jasmine_favicon.png")>
    <link rel="stylesheet" type="text/css" href=@path("applications/specs/lib/jasmine-2.0.0/jasmine.css")>
    <script src=@path("applications/specs/lib/jasmine-2.0.0/jasmine.js")></script>
    <script src=@path("applications/specs/lib/jasmine-2.0.0/jasmine-html.js")></script>
    <script src=@path("applications/specs/lib/jasmine-2.0.0/boot.js")></script>
    <script src=@path("applications/specs/lib/jasmine-2.0.0/jasmine-jquery.js")></script>

</head>

<body>
    <!-- Include templates here -->
    @def template_files():
    @end
    @template_files()


    <!-- include source files here... -->
    @def source_files():
    @end
    @source_files()


    <!-- include spec files here... -->
    @def test_files():
    @end
    @test_files()
</body>
</html>
