@extends('applications/sharedHTML/base.html')
@require(title, salir)

@def style():
    @from 'framework/templates/helpers.html' import set_style
    @set_style("applications/editArticle/views/edit_article.css", media="all")
@end;

@def header_scripts():
    @include('applications/editArticle/views/article_data_template.html')
    @include('applications/editArticle/views/article_description_template.html')
    @include('applications/editArticle/views/article_image_template.html')
    @include('applications/editArticle/views/new_multimedia_template.html')
    @include('applications/editArticle/views/image_description_template.html')
@end

@def content():
    @from 'framework/templates/helpers.html' import set_responsive_image
    <article class="edit_atricle_title">
        <h2>@title</h2>
    </article>
@end

@def scripts():
    @from 'framework/templates/helpers.html' import set_script

    <!-- Tird party libraries -->
    @set_script("applications/sharedJS/jquery.js")
    @set_script("applications/sharedJS/underscore.js")
    @set_script("applications/sharedJS/backbone.js")
    <script>
            _.templateSettings = {interpolate : /\{\{(.+?)\}\}/g};
            Backbone.emulateHTTP = true;
            Backbone.emulateJSON = true;
    </script>

    @set_script("applications/sharedJS/jQuery-File-Upload-9.5.6/js/vendor/jquery.ui.widget.js")
    @set_script("applications/sharedJS/jQuery-File-Upload-9.5.6/js/jquery.iframe-transport.js")
    @set_script("applications/sharedJS/jQuery-File-Upload-9.5.6/js/jquery.fileupload.js")

    @set_script("applications/helpers/helpers2.js")
    @set_script("applications/editArticle/controllers/edit_article_data.js")
    @set_script("applications/editArticle/controllers/edit_article_description.js")
    @set_script("applications/editArticle/controllers/edit_article_image.js")
@end

