@extends('applications/sharedHTML/base.html')
@require(title, salir)


@def scripts():
    @include('applications/editArticle/views/editable_article_list_template.html')

    @from 'framework/templates/helpers.html' import path
    @from "framework/templates/helpers.html" import set_script

    <!-- Tird party libraries -->
    <script src='@path("applications/sharedJS/jquery-min.js")'></script>
    <script src='@path("applications/sharedJS/underscore-min.js")'></script>
    <script src='@path("applications/sharedJS/backbone-min.js")'></script>
    <script>
        _.templateSettings = {interpolate : /\{\{(.+?)\}\}/g};
        Backbone.emulateHTTP = true;
        Backbone.emulateJSON = true;
    </script>

    <!-- Own libraries -->
    @set_script("applications/helpers/helpers2.js")
    @set_script("applications/helpers/jquery-sizeloaded.js")
    @set_script("applications/home/controllers/article_collection_view.js")
    @set_script("applications/editArticle/controllers/editable_article_list.js")
    
    <div id="hidden_container"></div>
@end