@extends('applications/sharedHTML/base.html')
@require(title, salir)
@def content():
    @from 'framework/templates/helpers.html' import path
    @from 'framework/templates/helpers.html' import set_responsive_image
    <article>
        <h2>@title</h2>

        <!-- the template for an individual item -->
        <script type="text/template" id="article-template">
            <h3>{{title}}</h3>
            @set_responsive_image('{{cover_image}}', 'thumbnail', '')
            <br>
            <input type="button" value="Editar" id="edit_{{cid}}">
            <input type="button" value="Borrar" id="remove_{{cid}}">
            <br>
        </script>

        <!-- The container of all items -->
        <div id="article-list-container">
            <ul id="article-list"></ul>
        </div>
    </article>
@end

@def scripts():
    @from 'framework/templates/helpers.html' import path
    @include('applications/sharedHTML/backbone.html')
    <script src=@path("applications/editArticle/controllers/manage_article.js")>
    </script>
@end